    RewriteEngine On
    RewriteRule ^$           main  [QSA]
    RewriteRule ^index\.php$ wiki.php?page=main  [QSA]
    RewriteCond %{REQUEST_URI} !(/includes/|/media)
    RewriteRule ^([^\d]+)/?$ wiki.php?page=$1 [QSA]
