#body {
	width:90%;
}


#body {
	width:78%;
}

#header {
	width:90%;
	text-align: center;
}
#content {
	width:78%;
	float:right;
}

#sidebar {
	width:18%;
	float: left;
}
#footer {
	width: 90%;
	text-align: center;
	clear: both;
}
